/* #region RESET */
/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion RESET*/

/* #region DEBUG */
/* 
---------
!DEBUG
---------
*/
/* #endregion DEBUG*/
.debug header {
  background-color: salmon;
}
/* #region TYPOGRAPHY*/
/*
------------
!TYPOGRAPHY
------------
*/
/* #endregion TYPOGRAPHY*/

/* #region PALETTE*/
/*
----------
!PALETTE
----------
*/
/* #endregion PALETTE*/
body {
  background-color: black;
}
/* #region COMMON*/
/*
---------
!COMMON
---------
*/
/* #endregion COMMON*/
.button {
  color: white;
  background-color: #4a4a4a;
  padding: 8px 8px;
  border-radius: 10px;
}

/* #region HEADER*/
/*
---------
!HEADER
---------
*/
/* #endregion HEADER*/
header {
  display: flex;
  padding: 5px 5px 50px 5px;
  gap: 8px;
  justify-content: flex-end;
}
/* #region MAIN*/
/*
-------
!MAIN
-------
*/
/* #endregion MAIN*/

/* #region FOOTER*/
/*
---------
!FOOTER 
---------
*/
/* #endregion FOOTER*/
