/* #region RESET */
/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion RESET*/

/* #region DEBUG */
/* 
---------
!DEBUG
---------
*/
/* #endregion DEBUG*/
.debug header {
  background-color: salmon;
}
.debug footer {
  background-color: tomato;
}
.debug .output,
.debug .exit {
  background-color: blueviolet;
}
/* #region TYPOGRAPHY*/
/*
------------
!TYPOGRAPHY
------------
*/
/* #endregion TYPOGRAPHY*/

/* #region PALETTE*/
/*
----------
!PALETTE
----------
*/
/* #endregion PALETTE*/
body {
  background-color: black;
}
/* #region COMMON*/
/*
---------
!COMMON
---------
*/
/* #endregion COMMON*/
.button {
  color: white;
  background-color: #4a4a4a;
  padding: 8px 8px;
  border-radius: 10px;
}
.flex {
  display: flex;
}

/* #region HEADER*/
/*
---------
!HEADER
---------
*/
/* #endregion HEADER*/
header {
  display: flex;
  padding: 5px 5px 50px 5px;
  gap: 8px;
  justify-content: flex-end;
}
/* #region MAIN*/
/*
-------
!MAIN
-------
*/
/* #endregion MAIN*/

/* #region FOOTER*/
/*
---------
!FOOTER 
---------
*/
/* #endregion FOOTER*/
footer {
  height: 80px;
  justify-content: space-between;
  align-items: center;
  color: white;
}
footer i {
  font-size: 1.875rem;
  margin-bottom: 10px;
}
footer .output,
footer .exit {
  width: 20%;
}
footer .options {
  justify-content: center;
  width: 60%;
}
.icon {
  display: flex;
  margin-right: 20px;
  text-align: center;
}
.icon .icon-button {
  text-align: center;
  margin-right: 20px;
}
.fa-solid.fa-share-from-square {
  color: #4bc800;
}
.icon .arrow {
  position: relative;
  margin-right: 20px;
}
.arrow i {
  font-size: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* ?parte destra */
.exit {
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}
.exit div {
  height: 100%;
  line-height: 80px;
  background-color: #4a4a4a;
  padding: 0 10px;
  color: red;
}
